openapi: 3.0.0
info:
  title: RinaWarp Terminal API
  description: |
    Official API documentation for RinaWarp Terminal - AI Voice Control for Productivity.
    
    These endpoints enable analytics reporting, subscription management, and usage tracking.
    For enterprise customers, custom endpoints and rate limits are available.
  version: 1.0.0

servers:
  - url: https://rinawarptech.com/api/v1
    description: Production API
  - url: http://localhost:3000/api/v1
    description: Local development

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: object

    EmailPreferences:
      type: object
      properties:
        dailyAnalytics:
          type: boolean
          description: Receive daily analytics reports
        weeklyAnalytics:
          type: boolean
          description: Receive weekly analytics reports
        monthlyAnalytics:
          type: boolean
          description: Receive monthly analytics reports
      required:
        - dailyAnalytics
        - weeklyAnalytics
        - monthlyAnalytics

    RevenueMetrics:
      type: object
      properties:
        totalRevenue:
          type: number
          format: float
        recurringRevenue:
          type: number
          format: float
        oneTimeRevenue:
          type: number
          format: float
        refunds:
          type: number
          format: float
        netRevenue:
          type: number
          format: float
        change:
          type: object
          properties:
            amount:
              type: number
              format: float
            percentage:
              type: number
              format: float

    SubscriptionMetrics:
      type: object
      properties:
        total:
          type: integer
        active:
          type: integer
        churnRate:
          type: number
          format: float
        mrr:
          type: number
          format: float
        arr:
          type: number
          format: float
        planDistribution:
          type: array
          items:
            type: object
            properties:
              plan:
                type: string
              count:
                type: integer
              percentage:
                type: number
                format: float

    UsageMetrics:
      type: object
      properties:
        commands:
          type: object
          properties:
            total:
              type: integer
            average:
              type: number
              format: float
        workflows:
          type: object
          properties:
            total:
              type: integer
            average:
              type: number
              format: float
        byPlan:
          type: array
          items:
            type: object
            properties:
              plan:
                type: string
              commands:
                type: integer
              workflows:
                type: integer
              averagePerUser:
                type: number
                format: float

    CustomerMetrics:
      type: object
      properties:
        total:
          type: integer
        active:
          type: integer
        new:
          type: integer
        churned:
          type: integer
        ltv:
          type: number
          format: float

    AnalyticsReport:
      type: object
      properties:
        type:
          type: string
          enum: [daily, weekly, monthly]
        date:
          type: string
          format: date-time
        revenue:
          $ref: '#/components/schemas/RevenueMetrics'
        subscriptions:
          $ref: '#/components/schemas/SubscriptionMetrics'
        usage:
          $ref: '#/components/schemas/UsageMetrics'
        customers:
          $ref: '#/components/schemas/CustomerMetrics'

paths:
  /analytics/subscriptions:
    get:
      summary: Get user's analytics subscription preferences
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailPreferences'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update user's analytics subscription preferences
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailPreferences'
      responses:
        '200':
          description: Successfully updated preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  preferences:
                    $ref: '#/components/schemas/EmailPreferences'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /analytics/unsubscribe:
    get:
      summary: Unsubscribe from analytics reports
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum: [daily, weekly, monthly]
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully unsubscribed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Invalid input or token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /analytics/report:
    get:
      summary: Get analytics report for a specified time period
      security:
        - bearerAuth: []
      parameters:
        - name: start
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successfully retrieved analytics report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsReport'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /analytics/reports/history:
    get:
      summary: Get historical analytics reports
      security:
        - bearerAuth: []
      parameters:
        - name: start
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: type
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly]
      responses:
        '200':
          description: Successfully retrieved historical reports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnalyticsReport'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /analytics/usage/trends:
    get:
      summary: Get usage trends over time
      security:
        - bearerAuth: []
      parameters:
        - name: start
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: interval
          in: query
          schema:
            type: string
            enum: [day, week, month]
            default: day
      responses:
        '200':
          description: Successfully retrieved usage trends
          content:
            application/json:
              schema:
                type: object
                properties:
                  trends:
                    type: array
                    items:
                      type: object
                      properties:
                        period:
                          type: string
                        metrics:
                          type: object
                          additionalProperties:
                            type: number
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date
                      end:
                        type: string
                        format: date
                      interval:
                        type: string
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
